# Ignore htaccess
/.htaccess

# Ignore user uploaded images and files
files

# Ignore user config, cache
ndxzsite/cache
ndxzsite/config/config.php

ndxzstudio/license.txt
ndxzstudio/readme.txt

ndxz-studio

*.DS_Store
